*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root { 
  --bg-color:#080808; 
  --second-bg-color:#131313;
  --text-color:white;
  --main-color:#FAE262;
}
html{
  overflow-x: hidden;
  font-size: 9px;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  heigth: 3em;
  background: rgba(0, 0, 0, 0.3);
  padding: 0rem 11rem 0rem 9rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo{
  font-size: 8rem;
  color: var(--text-color);
  font-weight: 250px;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: "Bebas Neue", sans-serif;
  width: 500px;
}
.logo:hover{
  transform: scale(1.2);
}
.logo .span1{
  text-shadow: 0 0 25px var(--main-color);
  font-family: "Bebas Neue", sans-serif;
  color: var(--main-color);
  font-size: 8rem;
}

.navbar {
  margin: 27px 0px 0px 0px;
}
.navbar a{
  font-size: 2.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
}
#menu-icon{
  font-size: 7rem;
  color: var(--main-color);
  display: none;
  margin-bottom: 1rem;
}
section{
  min-height: 100vh;
  width: 100%;
  
}
.home{
  display: flex;
  justify-content: left;
}
.home-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  margin: 130px 0px 120px 80px;
}
.home-content h3{
  margin-bottom: 1rem;
  font-size: 3rem;
}
.home-content h1{
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  width: 500px;
}
.span2{
  color: var(--main-color);
  font-size: 5rem;
}
.home-img{
  position: relative; /* Necesario para posicionar los hijos */
  width: 480px; /* Ajusta el ancho según sea necesario */
  height: 480px;  /*Ajusta la altura según sea necesario */
  margin: 12rem 11rem 0rem 0rem;;
}

.home-img img{
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  top: 1rem;
  margin-bottom: 15rem;
  /*width: 35vw;*/
  cursor: pointer;
  transition: 0.4s ease-in-out; 
  margin-right: 150px;
}  
.me{
  position: absolute; /* Posiciona la imagen del frente */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el contenedor */
  height: 100%; /* Mantiene la proporción */
  z-index: 2;
}
.me-back{
  position: absolute; /* Posiciona la imagen de fondo */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el contenedor */
  height: 100%; /* Mantiene la proporción */
  z-index: 1;
}
.home-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
} 
.home-content p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 650px;
}
.home-content .social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background: transparent;
  /*border: 2px solid var(--main-color);*/
  font-size: 6rem;
  /*border-radius: 50%;*/
  color: var(--main-color);
  margin: 3rem 6rem 3rem 0;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.home-content .social-icons a:hover{
  color: var(--text-color);
  transform: scale(1.3)translateY(-5px);
  /*box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);*/
}
.btnn{
  text-decoration: none;
  padding: 1rem 4rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  position: relative;
  margin: 10px;
  background-image:rotate(90deg);
  border: 2px solid #FAE262;
}
.btn-3{
  color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 0 0 rgba(145, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  
}

.btn-3::after{
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  transform: rotate(45deg);
  z-index: -1;
  transition: transform 0.5s ease;
  
}

.btn-3:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 225, 0.7);
}
.btnn:hover::after{
  transform: rotate(150deg);
}
.btnnn{
  text-decoration: none;
  padding: 1rem 4rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  position: relative;
  margin: 10px;

}
.btnnn:hover::after{
  transform: rotate(150deg);
}

.btn-4{
  background: rgb(#e40000);
  border-radius: 50px;
  transition: transform 0.3s ease;
}

.btn-4::after, .btn-4::before{
  content: "";
  position: absolute;
  opacity: 0.5;
  background: var(black);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  color: black;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
  border: 2px solid var(--main-color);
}

.btn-4:hover{
  transform: translate(-12px, -12px);
  
}

.btn-4:hoover:after{
  transform: translate(6px, 6px);
}

.btn-4:hoover:before{
  transform: translate(12px, 12px);
}
.btn{
  display: inline-block;
  padding: 1rem 1rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}
.home-content .btn-group{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 0rem 0rem 1rem;
}
.home-content .btn-group a:nth-of-type(2){
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.home-content .btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
} 
.text-animation{
  font-size: 7rem;
  font-weight: 600;
  min-width: 700px;
}
.span3{
  color: var(--main-color);
  font-size: 5rem;
}

.text-animation .span3{
  position: relative;
}
.text-animation .span3::before{
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation .span3::after{
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
  to{
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words{
  1%,
  20%{
    content: "Diseñador Frontend";
  }
  21%,
  40%{
    content: "Desarrollador Web";
  }41%,
  60%{
    content: "Diseño UI / UX";
  }61%,
  80%{
    content: "Bartender Internacional";
  }81%,
  100%{
    content: "Manipulador de Explosivos";
  }
}
@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100% + 8px);
  }

}

.heading{
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}
.education{
  padding: 100px 15px;
  background: var(--second-bg-color);
  background-size: 100%;
}
.education h2{
  margin: 0rem 0rem 2rem 0rem;
}
.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% + -5px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 1200px;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
  text-align: left;
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
               0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% + -13px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content p{
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  width: 50px;
}
/*Inicio carusel*/

.carrusel {
  position: relative;
  width: 100%;
  heigth: 100%;
  overflow: hidden;
}
.carrusel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carrusel-item {
  min-width: 100%;
  box-sizing: border-box;
}
.carrusel-item img{
  width: 100%;
  border-radius: 5px;
}
.carrusel button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.prev{
  left: 10px;
}
.next{
  rigth: 10%;
}

/*fin  de carusel*/


.service{
  background: var(--bg-color);
  color: black;
}
.service h2{
  margin-bottom: 13rem 0rem 0rem 0rem;
  color: white;
}
.service-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box{
  background-color: var(--main-color);
  height: 350px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;  
}
/*.service-box:hover{
  background: white;
  color: black;
  border: 5px solid var(--main-color);
  transform: scale(1.03);
  
}*/
.service-box .service-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}
.service-info h4{
  font-size: 3rem;
  font-weight: 600;
  max-height:1.7;
  margin: auto;
}
.service-info p{
  font-size: 1.8rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}
.testimonials{
  background: var(--second-bg-color);
  
}
/*.testimonials-box{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials .heading{
  margin-bottom: 5rem;
}
.testimonials-box img{
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}
.testimonial-item{
  min-height: 550px;
  max-width: 450px;
  background: rgba(0,0,0,0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.testimonial-item:hover{
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}
.testimonial-item h2{
  font-size: 2.8rem;
}
.testimonial-item p{
  font-size: 1.3rem;
}
#star{
  color: gold;
  font-size: 2rem;
}
*/

.contact{
  padding: 50px 15px;
  background: var(--second-bg-color);
  background-size: 100%;
}
.contact h2{
  margin-bottom: 3rem;
  color: white;
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}
.contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form  .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
  margin-bottom: 10px;
}
.contact form .btn{
  margin-top: 2rem;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}
.footer .social{
  text-align: center;
  margin-bottom: 25px;
  color: var(--main-color);
}
.footer .social a{
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  
}
.footer .social a:hover{
  transform: scale(1.2)translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}


@media(max-width:1285px){
  html{
    font-size: 55%;
  }
  body{ 
    font-size: 55%;
  }  
  .service-container{
    padding-bottom: 7rem;
    grid-template-columns: repeat(2,1fr);
    margin: 0 5rem;
  }
  .service-box{
    height: 400px;
  }
  .service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 3rem;
  }
}
@media(max-width:991){
  header{
    padding: 2rem 3%;
  }
  
  section{
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before{
    left: 7px;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 37px;
  }
  .timeline-dot{
    left: 0;
  }
  .services{
    padding-bottom: 7rem;
  }
  .service-box{
    height: 1000px;
    width: 800px;
  }
  .service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 900px;
    justify-content: left;
    align-items: baseline;
    padding: 1rem 3rem;
  }
  .testimonials .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .contact form{
    flex-direction: column;
  }
  .footer{
    padding: 2rem 3%;
  }
}  
@media(max-width:702px){
  body{
    width: 100%;
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 3rem;
    margin: 3rem 0;
    color: white;
  }
  .home{
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p{
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img{
    width: 56vw;
    margin-top: 30px;
  }
  .service h2{
    margin-bottom: 3rem;
  }
  .service-box{
    height: 250px;
  }
  .service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 3rem 1rem;
    
  }
  .service-container{
    grid-template-columns: repeat(1,1fr);
    margin-top: 0;
  }
  .testimonials .wrapper{
    grid-template-columns: auto;
  }  

}
@media screen and (max-width: 480px){
  html{
    font-size: 6px;
  }
  
  body{
    width: 100%;
    
  }
  .heading{
    text-align: center;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0rem 0rem;
  }
  .logo{
    font-size: 8rem;
    color: var(--text-color);
    font-weight: 250px;
    cursor: pointer;
    transition: 0.2s ease;
    font-family: "Bebas Neue", sans-serif;
    width: 100%;
  }
  .logo:hover{
    transform: none;
  }  
  .logo .span1{
    color: var(--main-color);
    font-size: 9rem;
  }
  h2{
    font-size: 25px;
  }
  .service-box{
    height: 470px;
    width: 600px;
  }
  .service-info p{
    font-size: 25px ;

  }
  .service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 170px;
    justify-content: left;
    align-items: baseline;
    padding: 1rem 1rem;
    width: 550px;  
  }

  .home{
    font-size: 22px;
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 2px ;
    
  }
  
  .home-img{
    position: relative;
    width: 180px;
    height: 190px;
    margin: 8rem 11rem 0rem 14rem; 
  }  
  .me{
    position: absolut; /* Posiciona la imagen del frente */
    top: 0;
    left: 20%;
    z-index: 2;
  }
  .me-back{
    position: absolute; /* Posiciona la imagen de fondo */
    top: 0;
    left: 20%;
    z-index: 1;
  }
  section{
    width: 100%;
    justify-content: center;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px 120px 2px;
  }
  .home-content h1 {
    display: flex;
    margin-left: 0px;
    font-size: 4rem;
    flex-direction: column;
  }
  .home-content .text-animation{
    margin-left: 0px; 
  }
  .home-content p{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.8;
    width: 95%;
    margin: 0px 2px 0px 2px;
  }
  .home-content .social-icons{
    width: 100%;
    text-align: center;
    /*padding: 0rem 1.4rem 0rem 1rem;*/
  }
  .home-content .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 9rem;
    background: transparent;
    /*border: 2px solid var(--main-color);*/
    font-size: 7rem;
    /*border-radius: 50%;*/
    color: var(--main-color);
    margin: 3rem 2rem 3rem 0;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
  .home-content .social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
  }
  .home-content .btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
  }
  .home-content .btnn{
    font-size: 4.5rem;
  }
  .home-content .btnn:hover::after{
    transform: rotate(150deg);
  }
  .home-content .btnnn{
    font-size: 4.5rem;
  }
  .contact{
    padding: 280px 10px;
    background: var(--second-bg-color);
    background-size: 100%;
  }
  .span2{
    color: var(--main-color);
    font-size: 5rem;
  }
  .span3{
    color: var(--main-color);
    font-size: 3rem;
  }

}
